:root {
    --main-bg-color: #222222;
  }

.logo {
    width: 60vw;
}
 
video {
    width: 100%;
}

h2 {
    font-size: 1rem!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
}

br {
    margin-bottom: 2rem;
}

.modal-body img {
    margin-bottom: 1rem;
}


hoofdtitel {
    text-transform: uppercase;
    background-color: var(--main-bg-color);
    color: white;
    padding: 3px 3px 3px 8px;
    display: block;
    margin-bottom: 6px;
}

tussentitel {
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 3px 3px 3px 8px;
    display: block;
    margin-bottom: 6px;
}

tussentitel:hover {
    cursor: pointer;
}



.stand td:nth-child(1) {
    padding: 5px 10px;
    color: white;
    width: 5%;
 }

.stand td:nth-child(2) {
    padding: 5px 10px;
 } 

.stand tr {
    border: 8px solid var(--main-bg-color);
} 

.onderdeel td:nth-child(1) {
    padding: 5px 10px;
    color: var(--main-bg-color);
    width: 5%;
 }

.onderdeel td:nth-child(2) {
    padding: 5px 10px;
 } 

.onderdeel tr {
    border: 8px solid white;
}

.bg-main {
    background-color: var(--main-bg-color)!important;
}

.text-red {
    color: red;
}

.bg-black {
    background-color: var(--main-bg-color);
}

.bg-red {
    background-color: red;
}

.bold {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    height: 100vh;
    min-height: 700px;
}

.footer {
    background-color: var(--main-bg-color);
    color: white;
    text-align: center;
}

svg {
    fill:white
}

svg:hover {
    fill: red
}

a {
    color:red;
}

/* Button */

@media (min-width: 768px) {  
    #errorHandling {
        position: fixed;
        left: 30%;
        top: 50%;
        right: 30%;
    }
}

@media (max-width: 767px) {  
#errorHandling {
    position: fixed;
    left: 5%;
    top: 30%;
    right: 5%;
}
}

#stickybutton {
    cursor: pointer;
    border-radius: 100px;
    padding: 0px!important;
    position: fixed;
    bottom: 3vh;
    right: 3vh; 
    background-color: red;
    color: white;
    border: 2px solid white;
    transition: none;
}

#stickybutton:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}

#stickybutton:hover svg{
    cursor: pointer;
    background-color: white;
    color: red;
    fill:red;
}

#stickybutton svg {
    cursor: pointer;
    margin: 12px;
}

/* Fix voor modal */

.modal-open {
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 0!important;
}

.modal {
    padding-right: 0px!important;
}

.modal-content {
    border: 3px solid red;
}

body.modal-open {
    position: inherit;
    overflow: visible;
  }
  
  body.modal-open .modal {
    overflow: hidden;
  }

.social:hover svg {
    background-color: white;
    border: 1px solid #22222200;
}

.loader {
    background: url("../img/tent.svg") no-repeat;
    display: inline-block;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    animation: spin 3s ease infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
  }
